  .popup {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 4px;
    color: #ffffff;
    border-radius: 0;
    position: absolute;
    top: -80%;
    left: -80%;
    background: linear-gradient(134.31deg,
            rgba(151, 255, 109, 1) 0%,
            rgba(91, 153, 65, 1) 100%);
    padding: 10px;
    z-index: 2;
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.3s ease;
  }
  
  .popup__title {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
  }
  
  .popup__desc {
    color: #ffffff;
    font-size: 14px;
  }
  
  .point {
    cursor: pointer;
    width: 80px;
    padding: 5px;
    
    background: rgb(115, 18, 78);
    transition: all 0.3s ease;

    position: relative;
  }

  .point:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(115, 18, 78);
    transition: all 0.3s ease;
  }

  .point:hover:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(163, 23, 110);
  }

  .point:hover {
    background: rgb(163, 23, 110);
  }

  .point-img {
    width: 75px;
    transition: opacity 0.3s ease;
  opacity: 1;
  }

  .point-img.fade-out {
    opacity: 0;
  }

  .point-title {
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: 500;
  }
  
  .popup {
    
  }

  .popup img {
    border-radius: 0;

  }
  
  .popup.active {
    transform: scale(1);
  }
  
  .point-img {
    transition: opacity 0.3s ease;
  }
  
  .point-img.hidden {
    opacity: 0;
  }